 <nav class="links project-links item">
        <h4><%= link_to 'Posts', '/blog.html', :relative => true %> </h4>
        <h4><%= link_to 'Project', '/projects.html', :relative => true %> </h4>
        <h4><%= link_to 'Art', '/art.html', :relative => true %>  </h4>
        <h4><%= link_to 'Pics', '/photography.html', :relative => true %> </h4>
        <!-- <h4><%= link_to 'Posts', '/error_page.html', :relative => true %> </h4> -->
      </nav>