---
title: Art | kikluz.com
---

<div class="container">
	<h1>Art</h1>
	<div class="gallery">
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
    </div>

</div>
<blockquote class="blog_links">
	<%= link_to 'Home', '/index.html', :relative => true %> |
	<%= link_to 'Post', '/blog.html', :relative => true %> |
	<%= link_to 'Projects', '/projects.html', :relative => true %> |
		
</blockquote> 