---
title: Art | kikluz.com
---

<div class="container">
	<h1>Art</h1>
	<!-- <div class="gallery">
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
		<div><%= image_tag 'https://picsum.photos/300/200/?random' %></div>
    </div> -->

    <div class=”gallery”>
    	<figure class=”gallery_item gallery_item_1">
    		<img src="https://picsum.photos/300/200/?random" class="gallery_img" alt="Image 1">
    	</figure>
    	<caption>
    		I hope you’ve found this post informative and helpful. 
    	</caption>

    	<figure class=”gallery_item gallery_item_2">
    		<img src="https://picsum.photos/300/200/?random" class="gallery_img" alt="Image 2">
    	</figure>
    	<caption>
    		I hope you’ve found this post informative and helpful. 
    	</caption>

    </div>



    <div class="section_gallery">
  <h1>Nom Nom Gallery</h1>
  <div class="grid">
    <div class="item">
      <div class="item__details">
        jelly-o brownie sweet
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Muffin jelly gingerbread 
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        sesame snaps chocolate
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Oat cake
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">
         jujubes cheesecake
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        Dragée pudding brownie
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Oat cake
      </div>
    </div>
    <div class="item">
      <div class="item__details">
        powder toffee
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        pudding cheesecake
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        toffee bear claw 
      </div>
    </div>
    <div class="item">
      <div class="item__details">
        cake cookie croissant
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        liquorice sweet roll
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        chocolate marzipan
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        danish dessert lollipop
      </div>
    </div>
    <div class="item">
      <div class="item__details">
        sugar plum dragée
      </div>
    </div>
  </div>
</div>
    </div>

</div>
</div>

<blockquote class="blog_links">
	<%= link_to 'Home', '/index.html', :relative => true %> |
	<%= link_to 'Post', '/blog.html', :relative => true %> |
	<%= link_to 'Projects', '/projects.html', :relative => true %> |
		
</blockquote> 