---
title: Blog | kikluz.com
---
<!--  -->
<div class="container">
	<div class="content-container blog_container">
		<h1>Latest</h1>
		<blockquote>
			Determinacion es la solucion!
		</blockquote>
		<hr>

		<% blog.articles[0...5].each do |article| %>
		<h1>
			<%= link_to article.title, article.path, :relative => true %>
			<p><time><%= article.date.strftime('%b %e %Y') %></time></p>
		</h1>
		<%= article.summary %>
		<span class="text-alpha">
			<%= link_to "Read more", article.url, :relative => true %>
		</span>
		<% end %>
	</div>
	<hr>
	<blockquote class="blog_links">
		<%= link_to 'Home', '/index.html', :relative => true %> |

		<a href="#">Art</a>  |
		<a href="#">Projects</a> |
	</blockquote> 
</div>
	
  




