---
title: Home | kikluz.com
---

<div class="container-center">

  <div class="main-container container-wrapper">
    <div class="block-1">


      <div>
        <div class="image-center">
          <%= image_tag 'kikluzlogo_ink.svg' %>
        </div>
        <h3>Welcome!</h3>
        <blockquote>
          <p>
            Hello, my name is Enrique a.k.a "Kikluz" and I create Websites!
            <br>
            I like to share my passion for Art and Design. As a web developer,
            currently I am learning <a href="#" title="react">Reactjs</a>.
            Check out my art and follow me on social media!
          </p> 
        </blockquote>

      </div>
    </div>

    <div class="block-2">
      <blockquote class="item">
        <p>
          I decided to create this site for logging my progress as a developer
          and documenting all the stuff that I've been learning over the last couple years.

        </p> 
      </blockquote>
      <section class="links project-links item">
        <h4><%= link_to 'Posts', '/blog.html', :relative => true %> </h4>
        <h4><%= link_to 'Project', '#', :relative => true %> </h4>
        <h4><%= link_to 'Art', '#', :relative => true %> </h4>
        <h4><%= link_to 'Pics', '#', :relative => true %> </h4>
        <!-- <h4><%= link_to 'Posts', '/error_page.html', :relative => true %> </h4> -->
      </section>

      <section class="links social-inks item">
       <h4><a href="#"><i class="fab fa-youtube"></i></a></h4>
        <h4><a href="#"><i class="fab fa-instagram"></i></a></h4>
        <h4><a href="#"><i class="fab fa-github"></i></a></h4>
        <h4><a href="#"><i class="fab fa-deviantart"></i></a></h4>
      </section>

      <section class="links contact-links item">
        <h4>contact me <span> <a href=""><i class="far fa-envelope"></i></a></span></h4>
        
      </section>

          <footer class="item">
            <p> <span>logo</span> kikluz c</p>
          </footer>
        </div>
      </div>
