---
title: Home | kikluz.com
---

<div class="container-center">

  <div class="main-container container-wrapper">
    <div class="block-1">


      <div>
        <div class="image-center">
        <% link_to '/' do %>
            <%= image_tag 'kikluzlogo_ink.svg' %>
          <% end%>
        </div>
        <h3>Welcome!</h3>
        <blockquote>
          <p>
            Hello, my name is Enrique a.k.a "Kikluz" and I create Websites!
            <br>
            I like to share my passion for Art and Design. As a web developer,
            currently I am learning <%= link_to 'Reactjs', 'https://reactjs.org/', :target => "_blank" %>.
            Check out my art and follow me on social media!
          </p> 
        </blockquote>

      </div>
    </div>

    <div class="block-2">
      <blockquote class="item">
          <p> 
          <span class="initial-letter">I</span>
          decided to create this site for logging my progress as a developer
          and to document all the stuff that I've been learning over the last couple years.
        </p> 
      </blockquote>
      <section class="links project-links item">
        <h4><%= link_to 'Posts', '/blog.html', :relative => true %> </h4>
        <h4><%= link_to 'Project', '/projects.html', :relative => true %> </h4>
        <h4><%= link_to 'Art', '/art.html', :relative => true %>  </h4>
        <!--
        <h4><%= link_to 'Pics', '/photography.html', :relative => true %> </h4>
        -->
      </section>

      <section class="links social-inks item">
       <a href="https://www.youtube.com/channel/UCdvRDoFjJZeS9yTtevXWfbQ" target="_blank"><i class="fab fa-youtube fa-lg"></i></a>
        <a href="https://www.instagram.com/kikluz/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="https://github.com/kikluz" target="_blank"><i class="fab fa-github fa-lg"></i></a>
        <a href="https://www.deviantart.com/kikluz" target="_blank"><i class="fab fa-deviantart fa-lg"></i></a>
      </section>

      <section class="links contact-links item">
        <h4>contact me 
        <span>
         <a href="mailto:kikluzr@gmail.com">
         <i class="far fa-envelope fa-lg"></i>
         </a>
         </span>
         </h4>
        
      </section>

          <footer class="footer-items item">
            <p> <span class="footer-logo"><%= image_tag 'kikluzlogo_ink.svg' %></span> kikluz &#169;</p>
          </footer>
        </div>
      </div>
