---
title: Kikluz's Blog
---
<!--   -->
<div class="container">
  <div class="columns">
    <div class="col-left">
      <h1>Kikluz</h1>
      <div class="image_brand"> 
        <%= image_tag 'hitman_logo.jpg' %>
      </div>
    </div>

    <div class="col-right">
      <p>
        I create static websites fast and simple with modern
        tools for web development.
      </p> 
      <%= link_to 'Blog', '/blog.html', :relative => true %>
      <p>
        It is hard to keep it in my mind so I decided to write it down!
      </p> 
    </div>
  </div>
</div>


<div class="columns">
  <div class="split left">
    <div class="centered">
      <%= image_tag 'hitman_logo.jpg' %>
      <h2>Kikluz</h2>
      <p><%= lorem.sentences 5 %></p>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
      <h2>Kikluz</h2>
       <p>
        I create static websites fast and simple with modern
        tools for web development.
      </p> 
      <%= link_to 'Blog', '/blog.html', :relative => true %>
      <p>
        It is hard to keep it in my mind so I decided to write it down!
      </p> 
    </div>
  </div>
</div>