---
title: Projects | kikluz.com
---

<div class="container">
	<div class="projects_main">
		<h1>PROJECTS</h1>
		<hr>
		<article>
			<a href="http://www.hedgeappliance.com/" target="blank?">
				<i class="fas fa-link fa-3x">HEDGE APPLIANCE SERVICE</i>
			</a>
			<p>
				Servicing Commercial and Residential Appliances for all of Lake County
			</p>
		</article>
		<aside>
			 <%= image_tag 'appliances.png' %>
		</aside>
		<hr>
		<article>
			<a href="http://bernadetterobertsisnotmyguru.com/" target="blank?">
				<i class="fas fa-link fa-3x">bernadette roberts</i>
			</a>
			<p>
				For people who are interested in this new way of looking at Christianity...
			</p>
		</article>
		<aside>
			 <%= image_tag 'bernadetterobertsisnotmyguru.png' %>
		</aside>
	</div>
	
<hr>
<blockquote class="blog_links">
	<%= link_to 'Home', '/index.html', :relative => true %> |
	<%= link_to 'Post', '/blog.html', :relative => true %> |
	<%= link_to 'Art', '/art.html', :relative => true %> |
</blockquote> 
</div>