---
title: home | gallery-item
---
<div class="container-center">
	<div class="container-wrapper">
		<div class="title">
				<h1><%= sinle_art.title %></h1>
			<div class="underline"></div>
			<br>
			<span>
				<%= link_to 'back to gallery', '/art.html', :relative => true, :class => 'btn' %> 
			</span>
		</div> 
	</div>

	<div class="gallery">

		<section class="single-art">
			<figure class="single-image">
				<%= image_tag sinle_art.image, :class => 'hover-shadow' %>
				<figcaption>

				</figcaption>
			</figure>

			<aside class="single-image-info">
				<blockquote>
					<p>
						<span>
							<strong>Title:</strong>
						</span>
						<%= sinle_art.title %>
					</p>
					<p>
						<span><strong>description:</strong></span>
						<%= sinle_art.desc %>
					</p>
					<p>
						<span><strong>Made with: </strong></span><%= sinle_art.media %>
					</p>
				</blockquote>
			</aside>

		</section>
	</div>